<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="Andrew Shooman" />
        <title>Carolina Team Handball</title>
        <!-- Favicon-->
        <link rel="shortcut icon" href="/images/favicon.ico">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href='/stylesheets/style.css'>
    </head>
    <body>
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <div class="col-lg-7" href="/"><img class="img-logo" src="/images/team_logo.png"/></div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="/twitter">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="/images/team_1.jpg" /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">Meet the Team!</h1>
                </div>
            </div>

            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100" id="#aaron-card">
                            <img class="card-img-top" src="/images/players/AaronHamm_headshot.webp" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Aaron Hamm</h5>
                                <p class="card-text">Played basketball, soccer, football, and tennis while at Newton-Conover High School and won 2017 Male Athlete of the Year…Studying chemistry and working in a lab at UNC-CH…A member and counselor in Camp Kesem</p>
                                </div>
                                <div class="card-footer"><a class="btn btn-primary btn-sm" id="btnShow">More Info</a>
                                    <div class="modal fade" tabindex="-1" id="testModal">
                                        <div class="modal-dialog">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title">Aaron Hamm</h5>
                                              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="athlete-profile-field" style='box-sizing: border-box; -webkit-font-smoothing: antialiased; color: rgb(0, 0, 0); font-family: HelveticaNeueW01-55Roma, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 19.2px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;'><span class="athlete-profile-field-label" style="box-sizing: border-box; -webkit-font-smoothing: antialiased; font-weight: bold;">Sport:&nbsp;</span>Team Handball</div>
                                                <div class="athlete-profile-field" style='box-sizing: border-box; -webkit-font-smoothing: antialiased; color: rgb(0, 0, 0); font-family: HelveticaNeueW01-55Roma, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 19.2px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;'><span class="athlete-profile-field-label" style="box-sizing: border-box; -webkit-font-smoothing: antialiased; font-weight: bold;">Event(s):&nbsp;</span>Indoor</div>
                                                <div class="athlete-profile-field" style='box-sizing: border-box; -webkit-font-smoothing: antialiased; color: rgb(0, 0, 0); font-family: HelveticaNeueW01-55Roma, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 19.2px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;'><span class="athlete-profile-field-label" style="box-sizing: border-box; -webkit-font-smoothing: antialiased; font-weight: bold;">Height:&nbsp;</span>6&apos;0</div>
                                                <div class="athlete-profile-field" style='box-sizing: border-box; -webkit-font-smoothing: antialiased; color: rgb(0, 0, 0); font-family: HelveticaNeueW01-55Roma, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 19.2px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;'><span class="athlete-profile-field-label" style="box-sizing: border-box; -webkit-font-smoothing: antialiased; font-weight: bold;">Weight:&nbsp;</span>185</div>
                                                <div class="athlete-profile-field" style='box-sizing: border-box; -webkit-font-smoothing: antialiased; color: rgb(0, 0, 0); font-family: HelveticaNeueW01-55Roma, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 19.2px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;'><span class="athlete-profile-field-label" style="box-sizing: border-box; -webkit-font-smoothing: antialiased; font-weight: bold;">DOB:&nbsp;</span>1/21/1999</div>
                                                <div class="athlete-profile-field" style='box-sizing: border-box; -webkit-font-smoothing: antialiased; color: rgb(0, 0, 0); font-family: HelveticaNeueW01-55Roma, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 19.2px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;'><span class="athlete-profile-field-label" style="box-sizing: border-box; -webkit-font-smoothing: antialiased; font-weight: bold;">Hometown:&nbsp;</span>Conover, N.C.</div>
                                                <div class="athlete-profile-field" style='box-sizing: border-box; -webkit-font-smoothing: antialiased; color: rgb(0, 0, 0); font-family: HelveticaNeueW01-55Roma, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 19.2px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;'><span class="athlete-profile-field-label" style="box-sizing: border-box; -webkit-font-smoothing: antialiased; font-weight: bold;">High School:&nbsp;</span>Newton-Conover High School</div>
                                                <div class="athlete-profile-field" style='box-sizing: border-box; -webkit-font-smoothing: antialiased; color: rgb(0, 0, 0); font-family: HelveticaNeueW01-55Roma, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 19.2px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;'><span class="athlete-profile-field-label" style="box-sizing: border-box; -webkit-font-smoothing: antialiased; font-weight: bold;">College:&nbsp;</span>University of North Carolina at Chapel Hill</div>
                                                <div class="athlete-profile-field" style='box-sizing: border-box; -webkit-font-smoothing: antialiased; color: rgb(0, 0, 0); font-family: HelveticaNeueW01-55Roma, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 19.2px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;'><span class="athlete-profile-field-label" style="box-sizing: border-box; -webkit-font-smoothing: antialiased; font-weight: bold;">Team/Club:&nbsp;</span>Carolina Team Handball Club</div>
                                                <div class="athlete-profile-field" style='box-sizing: border-box; -webkit-font-smoothing: antialiased; color: rgb(0, 0, 0); font-family: HelveticaNeueW01-55Roma, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 19.2px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;'><span class="athlete-profile-field-label" style="box-sizing: border-box; -webkit-font-smoothing: antialiased; font-weight: bold;">Coach(es):&nbsp;</span>Myles Bacon, Mat Piec, Julio Sainz</div>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-primary" id="btnSave">Close</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="modal fade" tabindex="-1" id="testModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="btnSave">Save</button>
          </div>
        </div>
      </div>
    </div>
                            </div>
                    </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Card Two</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Card Three</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Author: Andrew Shooman</div>
                <a href="https://twitter.com/unc_handball?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @unc_handball</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/javascripts/scripts.js" type="module"></script>
        <div class="modal"></div>
    </body>


</html>
