<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>RL Stats Lookup | RLCSX Team and Player Stats</title>
  <link rel="shortcut icon" href="/images/favicon.ico">

  <!-- Include links to CSS stylesheets below -->
  <!-- TODO (optional): Add link to bulma here -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <link rel="stylesheet" href='/stylesheets/style.css'>

</head>

<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jqueryrouter@2.2.11/dist/js/jquery.router.min.js"></script>
  <script src="/javascripts/data_playground.js" type="module"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js'></script>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <div class="buttons" style="display: flex;  justify-content: flex-end;" id="loginButton">
          &nbsp&nbsp
          <a href="/login">
            <button class="button is-primary is-inverted">
              Login&nbsp&nbsp
              <i class="fas fa-sign-in-alt"></i>
            </button>
          </a>
          &nbsp&nbsp
          <a href="/signup">
            <button class="button is-primary is-inverted">
              Register&nbsp&nbsp
              <i class="fas fa-user-plus"></i>
            </button>
          </a>
        </div>
        <h1 class="title">
          RL Stats Lookup
        </h1>
        <h2 class="subtitle">
          RLCSX Team and Player Stats
        </h2>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="box">
        <div class="control">
          <h4 class="subtitle is-4"><strong>Search</strong></h4>
          <div class="buttons has-addons">
            <button class="button is-primary" id="tmsearch">Teams</button>
            <button class="button" id="plsearch">Players</button>
          </div>
          <div id="searchappend">
            <input class="input is-primary" id="tNameInput" type="text" placeholder="Search by team name..." />
            <div id="tNameAuto"></div>
            <div id="tName-results"></div>
          </div>
          <br>
        </div>
        <div class="modal"></div>
      </div>
    </div>
  </section>
  <div id="root"></div>
  <footer>
    <center><p>Powered by <a target="blank" href="https://ballchasing.com/doc/api">ballchasing.com API</a></p></center>
    <center><p>Created by members of UNC Rocket League</p></center>
    <center><p>Join our <a target="blank" href="https://discord.gg/72ZdKNDw5E">Discord!</a></p></center>
  </footer>
</body>

</html>