<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="Andrew Shooman" />
        <title>Carolina Team Handball</title>
        <!-- Favicon-->
        <link rel="shortcut icon" href="/images/favicon.ico">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href='/stylesheets/style.css'>
    </head>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <div class="col-lg-7" href="/"><img class="img-logo" src="/images/team_logo.png"/></div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="/twitter">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <a class="twitter-timeline" data-theme="light" href="https://twitter.com/UNCHandball?ref_src=twsrc%5Etfw">Tweets by UNCHandball</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Author: Andrew Shooman</div>

        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
    </body>
</html>
