<!DOCTYPE html>
<html>

<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title> Favorites Page </title>

   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
   <link rel="stylesheet" href='/stylesheets/form.style.css'>
   <link rel="shortcut icon" href="/images/favicon.ico">

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/jqueryrouter@2.2.11/dist/js/jquery.router.min.js"></script>
   <script src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js'></script>
   <script src="/javascripts/favorites.js" type="module"></script>



</head>

<body style="background-color: hsl(171, 100%, 41%)">
   <div id="root">
      <section class="hero is-primary">
         <div class="hero-body">
           <div class="container">
             <div class="buttons" style="display: flex;  justify-content: flex-end;" id="homeButton">
               &nbsp&nbsp
               <a href="/index">
                 <button class="button is-primary is-inverted">
                   Home&nbsp&nbsp
                   <i class="fas fa-home"></i>
                 </button>
               </a>
               &nbsp&nbsp
             </div>
             <h1 class="title">
               My Favorites
             </h1>
           </div>
         </div>
       </section>
   </div>
</body>

</html>