<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Signup Page </title>  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<link rel="stylesheet" href='/stylesheets/style.css'>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jqueryrouter@2.2.11/dist/js/jquery.router.min.js"></script>

<script src="/javascripts/signup.js" type="module"></script> 
</head>    
<body>
    <section class="section">
       <div class="columns">
          <div class="column is-4 is-offset-4">
             <div class="field">
                <label class="label">Username</label>
                <div class="control">
                   <input class="input" type="text" placeholder="Username" id="username">
                </div>
             </div>
             <div class="field">
                <label class="label">Password</label>
                <div class="control">
                   <input class="input" type="text" placeholder="Password" id="password">
                </div>
             </div>
             <div class="field is-grouped">
                <div class="control">
                   <button class="button is-link" id="register">Register</button>
                </div>
                <div class="control">
                   <button class="button is-danger" id="cancelbtn">Cancel</button>
                </div>
             </div>
          </div>
       </div>
    </section>
 </body>  
</html>  